body {
	background-color: #222;
	height: 100vh;
}

.flexType {
	padding: 0;
	margin: 0;

	display: flex;

	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}

.buttonSubmit {
	margin: 2rem;
}